.title-pag {
  max-width: 58ch;
  display: flex;
  align-items: center;
}

.text-animate {
  display: flex;
  font-size: 18px;
  align-items: center;
}
.text-animate h1 {
  display: flex;
  align-items: center;
}

.text-animate h3 {
  display: flex;
  align-items: center;
}

.text-animate p {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  display: inline;
  justify-content: center;
  margin: 12px;
}

@media (min-width: 759px) {
  .title-pag {
    max-width: 58ch;
  }
  .card-container {
    max-width: 960px;
    flex-direction: row;
  }
}

@media (max-width: 758px) {
  .title-pag {
    max-width: 58ch;
  }
  .card-container {
    max-width: 480px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .title-pag {
    max-width: 58ch;
  }
  .card-container {
    max-width: 320px;
  }
  .button {
    max-width: 240px;
    margin: 8px;
  }
}
