:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #0079eb;
    /* ========= Typography ======= */
    --body-font: poppins, sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .930rem;
    --small-font-size: .813rem;
    /* ========= Font weght ========= */
    --font-medium: 400;
    --font-semi-blod: 600;
    /* ======== margens Bottom ======== */
    --m-0-5: .5rem;
    --m-0-75: 75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    /* ======== card padding ========== */
    --card-padding: 1.9rem 0.95rem;
    /* ======== Border radius ========== */
    --border-radius: 1.25rem;
    /* ======== box shadow ========== */
    --box-shadow: 0px 5px 20px 0px rgb(18, 49, 71);
}

@media (max-width: 620px) {
    .title-pag h1{
        max-width: 620px;
    }
}

