
@media (min-width: 759px) {
  .title-pag .title-cl {
    max-width: 58ch;
  }
  .text-animate {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  .text-animate p {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  
  .card-container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }
  .button {
    max-width: 320px;
    display: inline;
    justify-content: center;
    margin: 12px;
  }
}


@media (max-width: 758px) {
  .title-pag .title-cl {
    max-width: 58ch;
  }
  .text-animate {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  .text-animate p {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  .card-container {
    max-width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .button {
    max-width: 320px;
    display: inline;
    justify-content: center;
    margin: 12px;
  }
}


@media (max-width: 480px) {
  .title-pag .title-cl {
    max-width: 32ch;
  }
  .text-animate {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  .text-animate p {
    display: flex;
    font-size: 18px;
    align-items: center;
    
      }
  .card-container {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }
  .button {
    max-width: 240px;
    display: inline;
    justify-content: center;
    margin: 8px;
  }
}
