@media (max-width: 620px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
    }
}