:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #0079eb;
    /* ========= Typography ======= */
    --body-font: poppins, sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .930rem;
    --small-font-size: .813rem;
    /* ========= Font weght ========= */
    --font-medium: 400;
    --font-semi-blod: 600;
    /* ======== margens Bottom ======== */
    --m-0-5: .5rem;
    --m-0-75: 75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    /* ======== card padding ========== */
    --card-padding: 1.9rem 0.95rem;
    /* ======== Border radius ========== */
    --border-radius: 1.25rem;
    /* ======== box shadow ========== */
    --box-shadow: 0px 5px 20px 0px rgb(18, 49, 71);
}


/* Estilos para resolução até 1920px */

@media (max-width: 1920px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}


/* Estilos para resolução até 958px */

@media (max-width: 958px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}


/* Estilos para resolução até 758px */

@media (max-width: 758px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}


/* Estilos para resolução até 620px */

@media (max-width: 620px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}

@media (max-width: 600px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        display: flex;
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}
 

/* Estilos para resolução até 480px */

@media (max-width: 480px) {
    .title-pag .title-cl {
        max-width: 40ch;
    }
    .text-animate p {
        font-size: 16px;
        padding: 16px;
    }
    .card-container {
        max-width: 280px;
    }
    .button {
        max-width: 280px;
        margin-left: 30px;
    }
}


/* Estilos para resolução até 320px */

@media (max-width: 320px) {
    .title-pag .title-cl {
        max-width: 30ch;
    }
    .text-animate p {
        font-size: 14px;
        padding: 14px;
    }
    .card-container {
        max-width: 240px;
    }
    .button {
        max-width: 240px;
        margin-left: 20px;
    }
}

@media (max-width: 620px) {
    .title-pag .title-cl {
        max-width: 58ch;
    }
    .text-animate p {
        font-size: 18px;
        padding: 18px;
    }
    .card-container {
        max-width: 320px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .button {
        max-width: 320px;
        display: inline;
        justify-content: center;
        margin: 12px;
        margin-left: 45px;
    }
}
