        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cutive+Mono&family=IBM+Plex+Mono:ital,wght@0,100;0,300;0,500;0,700;1,100;1,500;1,700&family=Inconsolata:wght@300;500;700;900&family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Teko:wght@400;600;700&family=VT323&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');
         :root {
            --bg-color: #081b29;
            --second-bg-color: #112e42;
            --text-color: #ededed;
            --main-color: #0079eb;
            /* ========= Typography ======= */
            --body-font: poppins, sans-serif;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: .930rem;
            --small-font-size: .813rem;
            /* ========= Font weght ========= */
            --font-medium: 400;
            --font-semi-blod: 600;
            /* ======== margens Bottom ======== */
            --m-0-5: .5rem;
            --m-0-75: 75rem;
            --m-1: 1rem;
            --m-1-5: 1.5rem;
            --m-2: 2rem;
            --m-2-5: 2.5rem;
            /* ======== card padding ========== */
            --card-padding: 1.9rem 0.95rem;
            /* ======== Border radius ========== */
            --border-radius: 1.25rem;
            /* ======== box shadow ========== */
            --box-shadow: 0px 5px 20px 0px rgb(18, 49, 71);
        }
        
        html {
            font-size: 62.5%;
            overflow-x: hidden;
        }
        
        body {
            overflow: hidden;
            background: var(--bg-color);
            color: var(--text-color);
            max-width: 1500px;
            margin: 0 auto;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            scroll-behavior: smooth;
            font-family: var(--body-font);
        }
        
        section {
            padding: 25px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        /* =====================================heder + nav====================================================== */
        
        h1 {
            display: block;
            position: relative;
            font-size: 78px;
            background: linear-gradient(to bottom, #00f2ff 0%, #e2fbff 50%, #0a343f 51%, #0094f7 100%);
            background-blend-mode: multiply;
            background-size: 10px $font-size;
            background-repeat: repeat;
            line-height: 1;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &::before {
                background: none;
                content: attr(data-text);
                position: absolute;
                left: 0;
                top: 0;
                z-index: +2;
                background-image: url('https://i.imgur.com/Ym9HCsT.gif');
                background-blend-mode: screen;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0.5;
            }
            &::after {
                background: none;
                content: attr(data-text);
                position: absolute;
                left: 0;
                top: 0;
                text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.5), 3px 1px 3px rgba(255, 0, 255, 0.85), -3px -2px 3px rgba(0, 0, 255, 0.85), 1px -2px 0 rgba(255, 255, 255, 0.8);
                z-index: -2;
            }
        
        
        .title-pag {
            display: flex;
            align-items: flex-start;
            padding: 38px;
            margin-bottom: 46px;
        }
        
        .text-animate p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-family: 'Playfair', sans-serif;
        }
        /* =====================================heder + nav====================================================== */
        /* ===================================== card ====================================================== */
        
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
        
        .card .image {
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }
        
        .card .image img {
            margin-top: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid #fffcfc;
        }
        
        .card {
            perspective: 1000px;
            width: 150px;
            height: 200px;
            margin: 10px;
            position: relative;
            background: #2b016e;
            align-items: center;
        }
        
        .card::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: gold;
            clip-path: circle(55% at 0 0);
            border-top-left-radius: 10px;
        }
        
        .card .card-content {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .card .social-media {
            position: absolute;
            top: 10px;
            right: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .card .social-media i {
            font-size: 20px;
            color: #e4e4e4;
            margin-top: 10px;
            cursor: pointer;
            transition: .6s;
        }
        
        .card .social-media i:hover {
            color: #2b016e;
        }
        
        .card .name-profession {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;
            color: #fff;
        }
        
        .name-profession .name {
            font-size: 20px;
            font-weight: 600;
            margin: 16px;
        }
        
        .card .rating {
            display: flex;
            align-items: center;
            margin-top: 18px;
        }
        
        .card .rating i {
            font-size: 18px;
            color: rgb(197, 211, 0);
            margin: 0 2px;
        }
        
        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            width: 300px;
            height: 400px;
            transform-style: preserve-3d;
            transition: transform 0.8s;
        }
        
        .card.flipped {
            transform: rotateY(180deg);
        }
        
        .front,
        .back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
        }
        
        .front {
            z-index: 2;
            transform: rotateY(0deg);
        }
        
        .back {
            z-index: 2;
            transform: rotateY(180deg);
        }
        
        .infor {
            font-size: 16px;
            color: #fff;
        }
        
        .container-attr i {
            color: gold;
        }
        
        .container-attr {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 18px;
            padding: 9px;
        }
        
        .attr {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        
        .attr-title {
            font-size: var(--h1-font-size);
            margin-right: 10px;
        }
        
        .stars {
            display: flex;
        }
        
        .fa-star {
            margin-right: 5px;
        }
        
        .rating-1 {
            display: flex;
            gap: 10px;
            color: gold;
        }

      
        
        