@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cutive+Mono&family=IBM+Plex+Mono:ital,wght@0,100;0,300;0,500;0,700;1,100;1,500;1,700&family=Inconsolata:wght@300;500;700;900&family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Teko:wght@400;600;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;0,500;0,700;0,900;1,700&display=swap');
 :root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #0079eb;
    /* ========= Typography ======= */
    --body-font: poppins, sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .930rem;
    --small-font-size: .813rem;
    /* ========= Font weght ========= */
    --font-medium: 400;
    --font-semi-blod: 600;
    /* ======== margens Bottom ======== */
    --m-0-5: .5rem;
    --m-0-75: 75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    /* ======== card padding ========== */
    --card-padding: 1.9rem 0.95rem;
    /* ======== Border radius ========== */
    --border-radius: 1.25rem;
    /* ======== box shadow ========== */
    --box-shadow: 0px 5px 20px 0px rgb(18, 49, 71);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow: hidden;
    background: #112e42;
    color: var(--text-color);
    max-width: 1500px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--body-font);
}

section {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* =====================================heder + nav====================================================== */

h1 {
    font-size: 38px;
}


/* .title-pag .title-cl {
    font-size: 50px;
} */

span {
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 4px 4px #3b0099, 10px 10px #000000;
}

.title-pag {
    display: flex;
    align-items: flex-start;
    padding: 38px;
    margin-bottom: 46px;
}

.text-animate p {
    font-family: 'popify', sans-serif;
    border: 2px solid #2b016e;
    box-shadow: 4px 4px #1a0044;
    border-radius: 5px;
    font-size: 16px;
    padding: 16px;
}

.text-animate h1 {
    color: gold;
    font: normal 26px Varela Round, sans-serif;
    height: 26px;
    left: 0;
    letter-spacing: 5px;
    margin: 20px;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    animation: move linear 2000ms infinite;
}

@keyframes move {
    0% {
        text-shadow: 4px -4px 0 #2b016e, 3px -3px 0 #2b016e, 2px -2px 0 #2b016e, 1px -1px 0 #2b016e, -4px 4px 0 #6136a7, -3px 3px 0 #6136a7, -2px 2px 0 #6136a7, -1px 1px 0 #6136a7;
    }
    25% {
        text-shadow: -4px -4px 0 #6136a7, -3px -3px 0 #6136a7, -2px -2px 0 #6136a7, -1px -1px 0 #6136a7, 4px 4px 0 #2b016e, 3px 3px 0 #2b016e, 2px 2px 0 #2b016e, 1px 1px 0 #2b016e;
    }
    50% {
        text-shadow: -4px 4px 0 #2b016e, -3px 3px 0 #2b016e, -2px 2px 0 #2b016e, -1px 1px 0 #2b016e, 4px -4px 0 #6136a7, 3px -3px 0 #6136a7, 2px -2px 0 #6136a7, 1px -1px 0 #6136a7;
    }
    75% {
        text-shadow: 4px 4px 0 #6136a7, 3px 3px 0 #6136a7, 2px 2px 0 #6136a7, 1px 1px 0 #6136a7, -4px -4px 0 #2b016e, -3px -3px 0 #2b016e, -2px -2px 0 #2b016e, -1px -1px 0 #2b016e
    }
    100% {
        text-shadow: 4px -4px 0 #2b016e, 3px -3px 0 #2b016e, 2px -2px 0 #2b016e, 1px -1px 0 #2b016e, -4px 4px 0 #6136a7, -3px 3px 0 #6136a7, -2px 2px 0 #6136a7, -1px 1px 0 #6136a7;
    }
}

.text-animate h3 {
    color: #ffd739;
    font-family: 'popify', sans-serif;
    height: 10px;
    left: 0;
    letter-spacing: 5px;
    margin: 15px;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    animation: move linear 2000ms infinite;
}


/* =====================================heder + nav====================================================== */


/* ===================================== card ====================================================== */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.card .image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.card .image img {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fffcfc;
}

.card {
    perspective: 1000px;
    width: 150px;
    height: 200px;
    margin: 10px;
    position: relative;
    background: #2b016e;
    align-items: center;
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: gold;
    clip-path: circle(55% at 0 0);
    border-top-left-radius: 10px;
}

.card .card-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .social-media {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .social-media i {
    font-size: 20px;
    color: #e4e4e4;
    margin-top: 10px;
    cursor: pointer;
    transition: .6s;
}

.card .social-media i:hover {
    color: #2b016e;
}

.card .name-profession {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
}

.name-profession .name {
    font-size: 20px;
    font-weight: 600;
    margin: 16px;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.card .rating i {
    font-size: 18px;
    color: rgb(197, 211, 0);
    margin: 0 2px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    z-index: 2;
    transform: rotateY(180deg);
}

.back .infor p {
    display: block;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    margin-top: 90px;
    margin-left: 25px;
}

.back .infor-2 p {
    display: block;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    margin-top: 90px;
    margin-left: 25px;
}

.container-attr i {
    color: gold;
}

.container-attr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 18px;
    padding: 9px;
}

.attr {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.attr-title {
    font-size: var(--h1-font-size);
    margin-right: 10px;
}

.stars {
    display: flex;
}

.fa-star {
    margin-right: 5px;
}

.rating-1 {
    display: flex;
    gap: 12px;
    color: gold;
    font-size: 16px;
    animation: sparkle 1.5s infinite;
}

@keyframes sparkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


/* ========================================== */

.active {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 10px;
    padding: 1rem 2.5rem;
    color: #ffd739;
    font-size: var(--m-1-5);
    background-color: #27045b;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: var(--body-font);
    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btn:hover {
    background-color: #6807f9;
    box-shadow: 0px 14px 56px -11px #6807f9;
}

.btn::before {
    content: "";
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 100px;
    right: 2rem;
    bottom: 37%;
    animation: 0.5s both ease-in-out infinite;
}

.btn:hover::before {
    animation-name: bounce_591;
    transition: all 0.3s ease;
}

@keyframes bounce_591 {
    0% {
        bottom: 37%;
    }
    50% {
        bottom: 70%;
    }
    100% {
        bottom: 37%;
    }
}


/* ========================================== */

.session {
    display: none;
}
.ocult-manssa {
    font-size: 20px;
    color: rgb(238, 238, 238);
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-10%, -70%);
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(49, 3, 252);
    display: none;
}

.card:hover .ocult-manssa {
    display: block;
}


/* ========================================== */

.cont-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-post {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 5px;
    justify-content: space-between;
}

.container-post img {
    display: flex;
    max-width: 50%;
    border: 5px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 5px;
}


/* ========================================== */
